In [1]:
import numpy as np 
import matplotlib.pyplot as plt 
from astropy.table import Table

In [2]:
tly = Table.read('2020tly_YSEdata.snana.txt', format = 'ascii')

In [3]:
tly

<Table length=407>
VARLIST:    MJD     FLT  FLUXCAL  ... MAGSYS  TELESCOPE  INSTRUMENT  DQ
  str4    float64  str12 float64  ...  str4     str11       str7    str4
-------- --------- ----- -------- ... ------ ----------- ---------- ----
    OBS:  59108.39 r-ZTF  926.021 ...   None         P48    ZTF-Cam None
    OBS: 59109.322 g-ZTF 1929.716 ...   None         P48    ZTF-Cam None
    OBS:  59109.41 r-ZTF 1488.321 ...   None         P48    ZTF-Cam None
    OBS: 59110.346 g-ZTF 2337.179 ...   None         P48    ZTF-Cam None
    OBS: 59110.359 r-ZTF 1900.948 ...   None         P48    ZTF-Cam None
    OBS: 59111.367 g-ZTF 2432.615 ...   None         P48    ZTF-Cam None
    OBS: 59113.302 r-ZTF 2344.561 ...   None         P48    ZTF-Cam None
    OBS:  59113.34 r-ZTF 2098.701 ...   None         P48    ZTF-Cam None
    OBS:  59113.39 g-ZTF 2486.742 ...   None         P48    ZTF-Cam None
    OBS: 59114.322 g-ZTF 2443.322 ...   None         P48    ZTF-Cam None
     ...       ...   ...      ... ...    ...         ...        ...  ...
    OBS: 59774.558     r   52.345 ...   None Pan-STARRS2       GPC2 None
    OBS: 59774.561     i  -18.161 ...   None Pan-STARRS2       GPC2 None
    OBS: 59776.545     r  -72.021 ...   None Pan-STARRS2       GPC2 None
    OBS: 59776.548     z   79.155 ...   None Pan-STARRS2       GPC2 None
    OBS: 59784.541     r  -33.631 ...   None Pan-STARRS2       GPC2 None
    OBS: 59788.548     z -247.372 ...   None Pan-STARRS2       GPC2 None
    OBS:  59795.53     i   71.264 ...   None Pan-STARRS2       GPC2 None
    OBS: 59795.533     r   10.289 ...   None Pan-STARRS2       GPC2 None
    OBS: 59799.479     i   -0.926 ...   None Pan-STARRS2       GPC2 None
    OBS: 59799.482     r  -57.875 ...   None Pan-STARRS2       GPC2 None

In [5]:
tly_uni = np.unique(tly['FLT'])
tly_uni

<Column name='FLT' dtype='str12' length=10>
  cyan-ATLAS
           g
       g-ZTF
           i
orange-ATLAS
           r
       r-ZTF
           w
           y
           z