In [1]:
import numpy as np 
import matplotlib.pyplot as plt 
from astropy.table import Table

In [5]:
tly = Table.read('2020tly.dat', format = 'ascii', data_start = 2)
tly

<Table length=155>
   col1     col2          col3               col4       col5
 float64  float64       float64             str17       str2
--------- ------- ------------------- ----------------- ----
 59108.39  20.083 0.18296447742663055     Palomar/ZTF.r   AB
59109.322  19.286 0.12907749610214786     Palomar/ZTF.g   AB
 59109.41  19.568 0.15243359209832982     Palomar/ZTF.r   AB
59110.346  19.078  0.0977547952787995     Palomar/ZTF.g   AB
59110.359  19.303 0.11090987332063815     Palomar/ZTF.r   AB
59111.367  19.035 0.11269871339105873     Palomar/ZTF.g   AB
59113.302  19.075 0.11629703349613006     Palomar/ZTF.r   AB
 59113.34  19.195  0.0876584280032445     Palomar/ZTF.r   AB
 59113.39  19.011 0.08848163651289458     Palomar/ZTF.g   AB
59114.322   19.03 0.08930845424706443     Palomar/ZTF.g   AB
      ...     ...                 ...               ...  ...
59157.387  19.367  0.2236604569431083 Misc/Atlas.orange   AB
59157.397  19.369  0.1600124995117569 Misc/Atlas.orange   AB
59161.374  19.307   0.143024473430249 Misc/Atlas.orange   AB
59161.379  19.758 0.23341807984815574 Misc/Atlas.orange   AB
59161.385  19.647 0.20809613163151305 Misc/Atlas.orange   AB
59169.332  19.389 0.16667633305301627 Misc/Atlas.orange   AB
59169.354  19.689   0.191637678967368 Misc/Atlas.orange   AB
59169.362  19.673 0.20809613163151305 Misc/Atlas.orange   AB
59187.366  19.396 0.23146490014686893 Misc/Atlas.orange   AB
59189.294  19.692  0.2129530464679949 Misc/Atlas.orange   AB

In [8]:
tly_unique = np.unique(tly['col4'])
tly_unique

<Column name='col4' dtype='str17' length=8>
  Misc/Atlas.cyan
Misc/Atlas.orange
 PAN-STARRS/PS1.g
 PAN-STARRS/PS1.i
 PAN-STARRS/PS1.r
 PAN-STARRS/PS1.w
    Palomar/ZTF.g
    Palomar/ZTF.r